/* TEMPORARY BUTTON STUFF */
button{
    color: whitesmoke;
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    border-style: solid;
    transition-duration: 0.2s;
    font-size: larger;
}

button:hover{
    border-color:whitesmoke;
}

/* still need to fix mobile :( */
/* tablet/computer scren */
@media only screen and (min-width: 640px) {

    .card {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-areas: "image" "desc";
        border-style: solid;
        border-color: whitesmoke;
        border-radius: 10px;
        border-width: medium;
    }
    .card:hover {
        border-color: rgb(100, 255, 255);
    }
}

.card-image {
    grid-area: "image";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-text {
    grid-area: "desc";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: bold;
}