.card {
    display: grid;
    grid-template-columns: .5fr .5fr;
    grid-template-areas: "image" "desc";
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 10px;
    border-width: medium;
}
.card:hover {
    border-color: rgb(100, 255, 255);
}

.card-image {
    grid-area: "image";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: calc(500px + 2vh);
    height: calc(500px + 2vh);
}

.card-text {
    grid-area: "desc";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-weight: bold;
}