/* TEMPORARY BUTTON STUFF */
button{
    color: whitesmoke;
    background-color: transparent;
    border-radius: 5px;
    border-color: transparent;
    border-style: solid;
    transition-duration: 0.2s;
    font-size: larger;
}

button:hover{
    border-color:whitesmoke;
}

/* still need to fix mobile :( */
/* tablet/computer scren */
@media only screen and (min-width: 640px) {

    .card {
        display: grid;
        grid-template-columns: .5fr .5fr;
        grid-template-areas: "image" "desc";
        color: black;
        
        border-style: solid;
        border-color: rgb(142, 67, 255);
        border-radius: 10px;
        border-width: 2vh;
        background-color: white;
        /* transition-duration doesn't work :( */
    }
}

/* Add padding! */
.card-image {
    grid-area: "image";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1e2124;
    padding: 4vh;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-text {
    grid-area: "desc";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;

    text-align: left;

    

    a {
        color: rgb(142, 67, 255);
        transition-duration: 1s;
    }
    a:hover {
        color:rgb(0, 225, 255);
    }
}

.card-title {
    font-weight: bold;
}